*.f90 linguist-language=fortran
*.fypp linguist-language=fortran
*.sh linguist-detectable=false
Makefile linguist-detectable=false

doc/** linguist-documentation
example/** linguist-vendored
include/** linguist-vendored
capi/** linguist-vendored
media/** linguist-vendored
pywrapper/** linguist-vendored

