name = "iapws"
version = "VERSION" 
license = "MIT"
author = "Milan Skocic"
maintainer = "milan.skocic@icloud.com"
copyright = "Copyright 2021-2024, Milan Skocic"
description = "Water properties"
categories  =["Science"]
keywords = ["water", "iapws", "chemistry"]
homepage = "https://milanskocic.github.io/iapws/index.html"

[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false

[install]
library = true

[[example]]
name = "example_in_f"
main = "example.f90"

[[example]]
name = "example_in_c"
main = "example.c"

[dependencies]
stdlib="*"
M_CLI2 = {git="https://github.com/urbanjost/M_CLI2.git"}
#fortran-regex = {git="https://github.com/perazz/fortran-regex.git", tag="1.1.2"}
codata = {git="https://github.com/MilanSkocic/codata", tag="2.4.0"}
ciaaw = {git="https://github.com/MilanSkocic/ciaaw", tag="1.1.1"}

[[test]]
name = "tester"
main = "tester.f90"

[test.dependencies]
test-drive = {git="https://github.com/fortran-lang/test-drive", tag="v0.5.0"}

